
@{
    ViewBag.Title = "OperasBas";
    Layout = null;

   
}

<h2>OperasBas</h2>
<div class="container"> 
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label>Numero 1: </label>
                <input type="text" name="n1" value="" />
                <br />
                <label>Numero 2: </label>
                <input type="text" name="n2" value="" />
                <br />
                <input type="radio" name="op" value="suma" />Suma
                <br />
                <input type="radio" name="op" value="resta" />Resta
                <br />
                <input type="radio" name="op" value="multi" />Multi
                <br />
                <input type="radio" name="op" value="div" />Division
                <br />

                <input type="submit" name="name" value="Calcular" />


            </form>
        </div>
        <div class="col-lg-6">
            <h1>El resultado es: @ViewBag.Res</h1>
            

        </div>

    </div>
</div>
