@model IDGS902_Tema1.Models.Diccionario

@{
    ViewBag.Title = "GuardarDiccionario";
}

<div class="row">
    <div class="col-12 text-center">
        <h2>Registrar Diccionario </h2>
    </div>

    <form action="/" method="post"></form>

    
                @using (Html.BeginForm())
                {
                    <div>
                        @Html.LabelFor(model => model.Espanol, htmlAttributes:
                       new { @class = "col-form-label" })

                        <div>
                            @Html.EditorFor(model => model.Espanol, new 
                       { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                    </div>
                    <br />
                    <div >
                        @Html.LabelFor(model => model.Ingles, htmlAttributes: 
                       new { @class = "col-form-label" })

                        <div>
                            @Html.EditorFor(model => model.Ingles, new { htmlAttributes = 
                           new { @class = "form-control",  required = "required" } })
                        </div>
                    </div>

                    <br />

                    <div>
                        <div class="form-group col-6">
                            <div >
                                <input type="submit" name="name" value="Registrar" class="btn btn-warning" />
                            </div>
                        </div>
                    </div>

                }
   
   


 </div>

