@model InputType

<div class="control-group">
    <label fro="{{name}}" class="" control-label>{{placeholder}}</label>
    <div class="controls">
        <input type="{{type}}" name="{{name}}" class="input-xlarge"
               placeholder={{placeholder}} value="">
    </div>
</div>
